.containerAccueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btnAdd{
    margin: 10px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}
.btnAdd:hover{
    background-color: aqua;
}